$base = #444
$blue = #2980b9
$highlight = #f4f4f4

.map
.charts
  border-left: 5px solid $highlight

.registries
  font-size: 16px
  width: 17.25% !important // Add margin right to registries

  ul
    padding-left: 0
    margin-top: 10px

  li
    font-weight: bold
    list-style: none
    height: 38px
    padding: 2px .5em 0 .5em
    cursor: pointer

    div
      margin: 0
      padding: 0

    &:hover
      background-color: $base

      a
        color: white

    &:target:not(:hover)
      background-color: $highlight

  a
    display: block
    color: $base

    &:hover
      text-decoration: none

  .registry-details
    font-size: 12px

    span

      &:first-child
        float: left

      &:last-child
        float: right

.charts
  .axis
    line
    path
      fill: transparent
      stroke: $base
      stroke-width: 1.25

  text
    font-size: 14px

  .value
    font-size: 40px
    font-weight: bold
    fill: $blue

  .unit
  .title
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    fill: #999

.registry
  display: none

  &.show
    display: block

.row
  color: #444
  font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
  position: relative

.countries
  fill: $blue

.heatmap
  stroke: $highlight
  stroke-width: 2

  for i in 0..10
    &.hecta-{i}
      fill: lighten($blue, (10 - i) * 10%)

.registries
  path
    fill: $base
    stroke: $highlight
    stroke-width: 2

    &.highlight
      fill: #ffb800

.line
  fill: transparent
  stroke: $base
  stroke-width: 2

.stack
  &.success
    fill: $blue

  &.failure
    fill: #ffb800

.grid
  stroke: #CCC
  stroke-width: .5

.tooltip
  absolute: top 0 left 0
  background-color: rgba(255, 255, 255, 0.98)
  border: 2px solid #444
  border-radius: 2px
  font-size: 12px
  line-height: 1.5em
  width: 250px
  max-width: 250px
  padding: 10px
  opacity: 0
  z-index: 1